*,
*:after,
*:before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
}

.application {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
